# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Environment variables
.env

# Google Cloud credentials
gcp-credentials.json

# Uploads directory
uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Docker
.docker/

# Alembic
alembic/versions/*
!alembic/versions/.gitkeep

# Secrets folder
secrets/

#image output folder (review)
output/